.container-fluid{
    background-color: #083b4c;
}

.titolo{
    font-size: 80px;
}

.wrapper{
    gap: 40px;
}

.square_xs{
    width: 130px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-size: 22px;
}

.bkg-turquoise{
    background-color: #1389b2;
}

.bkg-lime{
    background-color: lime;
}

.bkg-yellow{
    background-color: #ffd166;
}